@model IEnumerable<ReportSubmission.Models.ProDetailViewModel>

@{
    ViewBag.Title = "ProDetail";
    Layout = "~/_LayoutHome.cshtml";
}
@section title{
    Danh sách dự án
}
@section menu{
    }



<article class="post">
    <header>
        <div class="title">
            <h2><a href="#">Danh sách dự án</a></h2>
        </div>
        <div class="meta">
            <time class="published" datetime="2017-10-18">October 18, 2017</time>
            <a href="/Home/userInfo" class="author">
                @if (Session["user_name]"] != null)
                {
                    <span class="name">
                        @Html.Raw(Session["user_name"].ToString())
                    </span>
                }
                else
                {
                    <span class="name">Jane Doe</span>
                }

                <img src="/images/avatar.jpg" alt="" />
            </a>
        </div>
    </header>
    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="" style="width: 47.016px;">
                    @Html.DisplayNameFor(model => model.TenDA)
                </th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="" style="width: 44.016px;">
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="" style="width: 55.016px;">
                    @Html.DisplayNameFor(model => model.NgayBD)
                </th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="" style="width: 55.0156px;">
                    @Html.DisplayNameFor(model => model.NgayKT)
                </th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="" style="width: 50px;">
                    @Html.DisplayNameFor(model => model.SoKeHoach)
                </th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="" style="width: 200.0156px;">
                    @Html.DisplayNameFor(model => model.TongCP)
                </th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="" style="width: 200.0156px;">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
        </thead>
        
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayBD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayKT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoKeHoach)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TongCP)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <button type="submit" name="Hủy kế hoạch">Hủy</button>
                        <button type="submit" name="Xem kế hoạch">Xem</button>
                    </td>
                </tr>
            }

        </table>
</article>